.nav-font {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: normal;
  font-family: "Work Sans", sans-serif;
}

.navPages {
  a {
    @extend .nav-font;
  }
}

.navPage-subMenu-custom {
  width: auto !important;

  .navPage-subMenu-list-custom {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .navPage-custom {
      .navPage-subMenu-action {
        font-weight: bold;
      }
    }

    .navPage-subMenu-custom-flyout {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      @media screen and (max-width: 800px) {
        flex-wrap: wrap;
      }

      .title-custom {
        font-weight: bold;
      }

      li {
        padding: 0 1.5rem;

        a {
          display: flex;
          padding: 0.5rem 1rem;
          width: max-content;
        }
      }
    }
  }
}

#menu
  .navPages
  ul.navPages-list
  > li.navPages-item:hover
  > a
  + div.navPage-subMenu {
  display: block;
  left: 0;
  width: 100%;
}
@media all and (max-width: 800px) {
  #menu
    .navPages
    ul.navPages-list
    > li.navPages-item:hover
    > a
    + div.navPage-subMenu {
    display: none;
  }
  #menu
    .navPages
    ul.navPages-list
    > li.navPages-item
    > a
    + div.navPage-subMenu.is-open {
    display: block;
  }
}
