.category-header-image {
  @media screen and (min-width: 768px) {
    margin-top: -3rem;
  }
}

.heading-container {
  margin: -15% 0 15% 0;
}

.heading-container.description{
  margin-top: -15%;
  padding: 0 10%;
  margin-bottom: 50px;
}